@import './colors.scss';

:root {
  font-family: 'Belleza', sans-serif;
  font-family: 'Berkshire Swash', serif;
  font-family: 'Quicksand', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $gray;
  margin: 0;
}

